/*-------------------
    main section
------------------*/
body{
    padding: 0;
    margin: 0;
    background-color: #F3F1FF;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #5c37fd;
    max-width: 100%;
    height: 80px;
    align-items: center;
}
nav > img {
    height: 46px;
    margin-left: 3%;
}
nav > ul {
margin-right: 2%;
}
nav > ul> li{
    display: inline;
}
nav > ul > li > a{
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
width: 1000px;
background-color: #FFFFFF;
height: 670px;
border-radius: 10px;
padding: 30px;
margin-top: 80px;
}
.top-players h2{
    font-size: 25px;
    color: #5c37fd;
   
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    margin-top: 40px;
   
}
.player{
    display: flex;
    align-items: center;
    
}
.player  img{
    height: 56px;
    width: 56px;
}
.player h3{
    margin-left: 20px;
    font-size: 21px;
}
hr{
    width: 90%;
margin-right: 70%;
color: rgb(255, 255, 255);
margin-top: 32px;


}

/*---------------------- 
    top blog styles 
--------------------*/
.top-blog{
    margin-top: 40px;
}
.top-blog h2{
    color: #5c37fd;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 22px;
    margin-top: 30px;
}
.blog{
    display: flex;
}
.thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info p a{
   text-decoration: none;
   color: #7757FF;

}
.blog-info h3{
    font-size: 22px;
    margin-top: 10px;
}

/* --------------------------
    Latest Couse styles
-------------------------- */
.second-container > h2{
    font-size: 25px;
    color: #5c37fd;
    margin-top: 0;

}
.latest-course{
    display: flex;
    align-items: center;
}
.course > .course-content > img{
    width: 270px;
    margin-right: 50px;
}
.author > h3{
font-size: 23px;
}
.author > a{
    font-size:20px;
    color: rgb(221, 67, 67);
    text-decoration: none;
}
.icon{
    margin-top: 20px;
}
span{
    margin: 20px;
}
.clock > i{
    margin-top: 5px;
}
.clock{
    background-color: rgb(192, 111, 111);
    height: 30px;
    width: 80px;
     border-radius: 20px;
    text-align: center;
    display: inline-block;
}
.fa-star{
    color: gold;
}
.course-content{
    padding: 10px;
}
.latest-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}
.latest-course > article{
    height: 320px;
    width: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgb(228, 223, 223);
}
.second-container{
width: 1000px;
background-color: #FFFFFF;
height: 350px;
border-radius: 10px;
margin-top: 30px;
padding: 30px;
}

/* ----------------------
     media query
--------------------*/
@media (max-width:600px) {
nav{
background-color: rebeccapurple;
width: 375px;
}
.container{
   width:100%;
    height: 100%;
    margin-top: 20px;
}
.players{
grid-template-columns: repeat(1, 1fr);
margin-top: 0;

}
.player{
    flex-direction: column;
}
.top-players > h2{
    margin-top: 0;
}
hr{
    width: 90%;
    margin-left: 5%;
}
.blogs{
grid-template-columns: repeat(1, 1fr);
margin-left: 10px;
}
.latest-course{
grid-template-columns: repeat(1, 1fr);
margin-left: 50px;
}
.second-container{
    width: 100%;
    height: 100%;

}
.course{
    margin-bottom: 50px;
}
h2{
    margin-left: 2%;
}

}